<% if user_signed_in? %>
  <div class="main">
    <div class="main-space">
      <h1 class="main-user">
        <%= link_to "#{ current_user.nickname}の夢" , "#", class: "user-nickname"%>
      </h1>
      <%# ----夢リスト---- %>
      <div class="dream-list">
        <div class="dream-list-main">
          １，世界1周
        </div>
      </div>
    </div>
    
    
    <%# ---friend list---- %>
    <div class="main-light">
    </div>
  </div>
<% else %>
<% end %>
