

.main {
  width: 100vw;
  display: flex;
  background: url(assets/top_background.png) repeat top/cover;
}

.main-space {
  width: 100%;
  height: 100%;
}

.main-user {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-user-btn {
  padding-left: 30px;
  top: 50px
}
.user-nickname {
  text-decoration: none;
  font-size: 30px;
  color: #f8e8ff;
  background-color: rgb(250, 121, 186);
  border-radius: 10px;
  padding: 5px;
}

.dream_content {
  font-weight: bold;
}

.new-btn {
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
  background-color: brown;
  color: #8B4513;
  background-color: #fff;
  padding: 0.4em 1.2em;
  border: 4px #87CEFA solid;
  border-radius: 5px;
  transition: 0.4s ease;
}

.new-btn:hover{
  color: #fff;
  background: #87CEFA;
}

.dream-list {
  height: 100vh;
  padding: 15px;
}

.dream-list-main {
  background: url(assets/text-background.png) repeat center/cover ;
  background-color: #f4fcff;
  border-radius: 20px;
  padding: 0 0 10px 20px;
}


/* ---friend list---- */
.main-light {
  width: 250px;
}

.friends {
  background-color: #87CEFA;
  margin: 5px 20px 5px 5px;
  padding: 10px;
  border-radius: 20px
}

.friend-list {
  text-align: center;
  font-weight: bold;
}

.friend-list-main {
  background-color: rgb(230, 247, 250);
  padding: 5px;
  border-radius: 20px
}

/* ログアウト時のトップページ */
.logout-main {
  width: 100vw;
  height: 100vh;
  background: url(assets/logout-top-page.png) no-repeat center/cover; 
  
}
.logout-main-space {
  width: 100%;
  height: 100%;
}

.logout-message1 {
  font-size: 40px;
  padding: 80px 0 20px 300px;
}

.logout-message2 {
  font-size: 25px;
  padding: 40px 0 20px 500px;
}

.logout-message3 {
  font-size: 25px;
  padding: 80px 0 20px 300px;

}