
.dreams {
  width: 100%;
  height: 100vh;
  background-image: url('background2.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  flex-direction: column;
  
}

.dreams-main {
  padding: 20px;
  width: 80%;
  background-image: url('text-background.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-color: #f4fcff;
  border-radius: 20px;

}

.point-message {
  text-align: center;
  margin-bottom: 20px;
}

.dream-table {
  width: 100%;
}

.dream_content {
  height: 30px;
}

.dream__contents {
  font-size: 15px;
  border-bottom: 1px solid rgb(127, 177, 248);
}

.item {
  padding-right: 20px;
}

.item-no {
  padding-right: 5%;
}

.item-dream {
  width: 40%;
}

.item-memo {
  width: 30%;
}

.dream-input-default{
  width: 95%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.btn-area {
  margin: 15px auto;
  text-align: center;
}

.save-blue-btn {
  border-radius: 20px;
  line-height: 48px;
}

.storage-btn {
  background: #75A9FF;
  border: 1px solid #75A9FF;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 20px;
}

.back-btn {
  background: #75A9FF;
  border: 1px solid #75A9FF;
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
}

