<footer class='fotter'>
  <div class='fotter-text-wrap'>
    <p class='fotter-text'>プライバシーポリシー</p>
    <p class='fotter-text'>dreamnote利用規約</p>
  </div>
  <%# <% image_tag "furima-logo-color.png", class:"fotter-logo"%>
</footer>