* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 100px 0px 30px;
  background-color: #CCFFFF;
}

.dreamnote-icon {
  width: 18vw;
  margin-right: 18vw;
}

.header-menues {
  height: 100px;
  display: flex;
}

.header-menu {
  margin-left: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;  
  text-decoration: none;
  color: #8B4513;
}
